<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
   
    <link rel="icon" href="~/Images/logo.jpeg" type="image/x-icon">
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("About", "AboutUs", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Contact", "ContactUs", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Display", "Display", "User", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <form method="get" action="@Url.Action("Search")" class="form-inline my-2 my-lg-0">
                    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</body>
</html>